.section_1 {
  max-width: 100%;
  width: 100%;
  height: 100vh;
  background-color: #74c69d;

  .burger {
    display: none;
    position: relative;
  }

  .displayNone {
    display: none;
  }

  .burgerMenu {
    width: 100%;
    height: 120vh;
    backdrop-filter: blur(17px);
    opacity: 0.8;
    position: absolute;

    div {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;

      a {
        color: black;
        text-decoration: none;
        font-size: 25px;
        border: solid black 2px;
        width: 100px;
        text-align: center;
        height: 40px;
        border-radius: 5px;
        padding-top: 5px;
        font-weight: 700;
        width: 200px;
        height: 50px;
      }

      .activeALink {
        color: white;
        background-color: red;
        border: solid red 2px;
      }
    }
  }
  .section_1_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px 0px;
    .nav_left {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 18px;

      svg {
        width: 70px;
        height: 48.311px;
      }

      p {
        color: #fff;
        font-feature-settings: "clig" off, "liga" off;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        padding-top: 15px;
      }
    }

    .nav_rigth {
      ul {
        display: flex;
        list-style: none;
        gap: 30px;
        padding-top: 15px;

        a {
          text-decoration: none;
          color: #fff;
          font-size: 20px;
          font-weight: 400;
        }
        .activeLink {
          text-decoration: underline;
          color: red;
        }
      }
    }
  }

  .section_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;

    .left_box {
      .welcome {
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        line-height: 125%;
        letter-spacing: 5px;
      }

      .main_title {
        color: var(--Text_White, #fff);
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%;
      }

      .section_text {
        width: 430px;
        color: var(--color-white-75, rgba(255, 255, 255, 0.75));
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
      }

      button {
        font-size: 20px;
        margin-top: 20px;
        border: none;
        width: 170px;
        height: 48px;
        border-radius: 5px;
        background: #fff;
      }
    }

    .right_box {
      img {
        width: 600px;
      }
    }
  }

  @media only screen and (max-width: 1200px) {
    .section_main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 45px;

      .left_box {
        .main_title {
          font-size: 35px;
        }

        .section_text {
          width: 430px;
          font-size: 17px;
        }
      }

      .right_box {
        img {
          width: 550px;
        }
      }
    }
  }

  @media only screen and (max-width: 1050px) {
    .section_main {
      margin-top: 45px;

      .left_box {
        .main_title {
          font-size: 35px;
        }

        .welcome {
          text-align: center;
        }

        .section_text {
          width: 430px;
          font-size: 17px;
        }
        .button_box {
          display: flex;
          justify-content: center;
        }
      }

      .right_box {
        img {
          width: 500px;
        }
      }
    }
  }

  @media only screen and (max-width: 1000px) {
    height: auto;
    padding-bottom: 30px;

    .section_main {
      flex-direction: column;
      margin-top: 45px;

      .left_box {
        .main_title {
          text-align: center;
          width: 400px;
          font-size: 35px;
        }

        .section_text {
          text-align: center;
          width: 430px;
          font-size: 17px;
        }
      }

      .right_box {
        img {
          margin-top: 50px;
          width: 500px;
        }
      }
    }
  }

  @media only screen and (max-width: 774px) {
    height: auto;
    .burgerMenu {
      height: 133.4vh;
    }
    .nav_rigth {
      ul {
        a {
          display: none;
        }
        .burger {
          display: block;
        }
      }
    }
  }

  @media only screen and (max-width: 550px) {
    height: auto;
    .section_1_nav {
      padding: 20px 30px;
    }
    .nav_rigth {
      ul {
        a {
          display: none;
        }
        .burger {
          display: block;
        }
      }
    }
  }

  @media only screen and (max-width: 550px) {
    height: auto;
    .section_1_nav {
      .nav_left {
        p {
          font-size: 35px;
        }

        svg {
          width: 55px;
        }
      }
    }
    .burgerMenu {
      height: 120vh;
    }
    .section_main {
      .left_box {
        .main_title {
          text-align: left;
          font-size: 30px;
        }

        .welcome {
          text-align: left;
        }

        .section_text {
          text-align: left;
          width: 400px;
          font-size: 15px;
        }
        .button_box {
          justify-content: start;
        }
      }

      .right_box {
        img {
          margin-top: 50px;
          width: 400px;
        }
      }
    }
  }

  @media only screen and (max-width: 450px) {
    .burgerMenu {
      height: 110vh;
    }
    height: auto;
    .section_1_nav {
      padding: 20px 20px;
      justify-content: center;
    }

    .section_main {
      .left_box {
        .main_title {
          width: 370px;
          font-size: 30px;
        }

        .section_text {
          width: 400px;
          font-size: 15px;
        }
      }

      .right_box {
        img {
          margin-top: 50px;
          width: 370px;
        }
      }
    }
  }

  @media only screen and (max-width: 430px) {
    height: auto;
    .section_1_nav {
      justify-content: center;
    }

    .section_main {
      .left_box {
        .main_title {
          width: 340px;
          font-size: 30px;
        }

        .section_text {
          width: 350px;
          font-size: 15px;
        }
      }

      .right_box {
        img {
          margin-top: 50px;
          width: 370px;
        }
      }
    }
  }

  @media only screen and (max-width: 430px) {
    height: auto;

    .section_main {
      .left_box {
        .main_title {
          width: 320px;
          font-size: 31px;
        }

        .section_text {
          width: 350px;
          font-size: 15px;
        }
      }

      .right_box {
        img {
          margin-top: 50px;
          width: 350px;
        }
      }
    }
  }
}
