.services_section_1 {
  max-width: 100%;
  width: 100%;
  height: auto;
  .burger {
    display: none;
    position: relative;
  }

  .displayNone {
    display: none;
  }

  .burgerMenu {
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(17px);
    opacity: 0.8;
    position: absolute;

    div {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;

      a {
        color: black;
        text-decoration: none;
        font-size: 25px;
        border: solid black 2px;
        width: 100px;
        text-align: center;
        height: 40px;
        border-radius: 5px;
        padding-top: 5px;
        font-weight: 700;
        width: 200px;
        height: 50px;
      }

      .activeALink {
        color: white;
        background-color: red;
        border: solid red 2px;
      }
    }
  }
  .porftfolio_header {
    max-width: 100%;
    width: 100%;
    height: 17vh;
    background-color: #74c69d;
  }
  .section_1_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px 0px;

    .nav_left {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 18px;

      svg {
        width: 70px;
        height: 48.311px;
      }

      p {
        color: #fff;
        font-feature-settings: "clig" off, "liga" off;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        padding-top: 15px;
      }
    }

    .nav_rigth {
      ul {
        display: flex;
        list-style: none;
        gap: 30px;
        padding-top: 15px;

        a {
          text-decoration: none;
          color: #fff;
          font-size: 20px;
          font-weight: 400;
        }
        .activeLink {
          text-decoration: underline;
          color: red;
        }
      }
    }
  }

  .section_plans {
    margin-bottom: 50px;
    .plans {
      text-align: center;
      color: var(--color-green-100, #74c69d);
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 5px;
      padding-top: 30px;
      font-family: sans-serif;
    }

    .portfolio_text {
      color: var(--Text_Black, #000);
      text-align: center;
      font-feature-settings: "clig" off, "liga" off;
      font-family: Crimson Text;
      font-size: 45px;
      font-style: normal;
      font-weight: 700;
      line-height: 125%;
    }

    .portfolio_main_text {
      color: var(--Text_Black, #000);
      text-align: center;
      font-feature-settings: "clig" off, "liga" off;
      font-family: Work Sans;
      font-size: 22px;
      font-style: normal;
      letter-spacing: 1px;
      font-weight: 400;
      line-height: 125%;
    }

    .plans_cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      margin-top: 50px;
      gap: 50px;
      .card_plan {
        width: 320px;
        height: 470px;
        border-radius: 5px;
        background: #fff;
        box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
        padding: 25px;

        .card_title {
          text-align: center;
          font-size: 20px;
          font-weight: 500;
          letter-spacing: 1px;
        }
        .plan_cost {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          gap: 5px;
          line-height: 60px;
          strong {
            font-size: 50px;
          }
          span {
            font-size: 30px;
            color: #21252980;
          }
        }

        .card_text {
          text-align: center;
          color: #21252980;
          padding-top: 15px;
        }

        .card_checker {
          display: flex;
          align-items: center;
          justify-content: start;
          text-align: center;
          gap: 10px;

          p {
            position: relative;
            top: 7px;
            font-size: 20px;
            color: var(--color-dark-100, #212529);
            text-align: center;
            font-size: 20px;
            font-weight: 400;
            line-height: 125%;
          }
        }

        .card_button {
          display: flex;
          justify-content: center;
          align-items: center;

          button {
            margin-top: 10px;
            width: 150px;
            height: 40px;
            border: none;
            color: #fff;
            font-size: 20px;
            font-weight: 500;
            border-radius: 5px;
            background: var(--color-dark, #212529);
          }
        }
      }
    }
  }

  @media only screen and (max-width: 774px) {
    .nav_rigth {
      ul {
        a {
          display: none;
        }
        .burger {
          display: block;
        }
      }
    }
  }

  @media only screen and (max-width: 550px) {
    .section_1_nav {
      padding: 20px 30px;
      .nav_left {
        p {
          font-size: 35px;
        }

        svg {
          width: 55px;
        }
      }
    }
  }

  @media only screen and (max-width: 450px) {
    .section_1_nav {
      padding: 20px 20px;
      justify-content: center;
    }
  }

  @media only screen and (max-width: 430px) {
    .section_plans {
      .portfolio_text {
        font-size: 32px;
      }

      .portfolio_main_text {
        font-size: 25px;
      }
    }
    .section_1_nav {
      justify-content: center;
    }
  }
}
